@font-face {
    font-family: 'LinjaPona';
    src: url('linja-pona-4.9.otf') format('opentype');
}

@font-face {
    font-family: 'LinjaSike';
    src: url('linja-sike-5.otf') format('opentype');
}

@keyframes popOut {
    0% {
        transform: translate(0px, 48px);
        opacity: 0;
    }
    100% {
        transform: translate(0px, 0px);
        opacity: 100;
    }
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

body, html {
    overflow-x: hidden;
    overflow-y: hidden;
}

.background {
    background: linear-gradient(180deg, rgba(255, 221, 161, 1) 0%, rgba(205, 219, 231, 1) 100%);

    height: 100vh;
    padding-top: 1px;
    display: flex;
    justify-content: left;
    align-content: stretch;
}

.content {
    margin: 10vh 10vh;
    flex-grow: 1;
    display: flex;
    justify-content: left;
    align-content: start;
    flex-direction: column;
    gap: 5vh;
}

.toki-pona {
    font-family: 'LinjaSike', cursive !important;
}

.toki-pona-caption {
    font-size: 0.5em;
    font-style: italic;
    font-weight: 300;
    color: gray;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2.5vh;
}

.title {
    background-color: white;
    font-size: 36px;
    width: fit-content;
    height: fit-content;
    white-space: nowrap;
    text-align: left;
    padding: 12px;
    border-radius: 12px;
    box-shadow: 4px 4px 16px #00000066;
    animation: popOut 0.5s cubic-bezier(.28, .84, .53, 1);
}

.settings {
    background-color: white;
    padding: 12px;
    display: flex;
    width: fit-content;
    height: fit-content;
    flex-grow: 1;
    flex-wrap: wrap;
    column-gap: 5vh;
    justify-content: space-between;
    border-radius: 12px;
    box-shadow: 4px 4px 16px #00000066;
    animation: popOut 0.5s cubic-bezier(.28, .84, .53, 1);
    animation-delay: 200ms;
    animation-fill-mode: both;
}

.subtitle {
    font-size: 24px;
    font-weight: 700;
}

.credits {
    font-size: 14px;
    font-weight: 300;
    color: gray;
    animation: popOut 0.5s cubic-bezier(.28, .84, .53, 1);
    animation-delay: 600ms;
    animation-fill-mode: both;
}

.main-input-container {
    flex-grow: 1;
    align-self: stretch;
    display: flex;
}

.main-input {
    font-size: 48px;
    resize: none;
    padding: 12px;
    border: none;
    flex-grow: 1;
    border-radius: 12px;
    box-shadow: 4px 4px 16px #00000066;
    outline: none;
    animation: popOut 0.5s cubic-bezier(.28, .84, .53, 1);
    animation-delay: 400ms;
    animation-fill-mode: both;
}

.settings-checkbox-label {
    font-size: 24px;
    white-space: nowrap;
}

@media only screen and (max-width: 600px) {
    .content {
        margin: 10vh 5vh;
    }

    .hide-mobile {
        display: none;
    }

    .main-input {
        font-size: 24px;
    }

    .header {
        flex-direction: column;
    }
}
